.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.idea/
*.iml

android/.gradle/
android/local.properties

ios/Pods/
ios/.symlinks/

linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/